In [1]:
import pandas as pd
import sqlalchemy
import pymysql
import time
import numpy as np
import joblib
pass

In [2]:
engine = sqlalchemy.create_engine('mysql://dimpasp:aris1914@localhost:3306/testenergy')

# give dataset

In [3]:
pd.options.mode.chained_assignment = None  # default='warn'

new_predict=joblib.load("New_predict_energy.joblib")

#pathOfDataset='C:/Users/User/Desktop/project/Energy_Dataset_Test.csv'
pathOfDataset='C:/Users/User/Desktop/project/project_for_master/Project/datasetForPrediction.csv'

df=pd.read_csv(pathOfDataset)
df.head()

,Unnamed: 0,Year,Month,Day,Hour,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,price actual
0,33064,2018,10,9,15,367.0,760.0,6501.0,4894.0,312.0,0.0,815.0,1981.0,6934.0,57.0,110.0,3744.0,318.0,2896.0,79.36
1,33065,2018,10,9,16,365.0,760.0,7364.0,4943.0,310.0,0.0,825.0,1473.0,6939.0,57.0,110.0,3120.0,317.0,3512.0,77.72
2,33066,2018,10,9,17,367.0,760.0,7607.0,4945.0,312.0,0.0,853.0,3221.0,6943.0,57.0,109.0,1964.0,325.0,3870.0,81.55
3,33067,2018,10,9,18,369.0,760.0,7912.0,4957.0,312.0,0.0,873.0,4079.0,6947.0,56.0,110.0,873.0,324.0,3925.0,84.42
4,33068,2018,10,9,19,368.0,760.0,7659.0,4934.0,314.0,0.0,851.0,2953.0,6954.0,56.0,112.0,628.0,327.0,4250.0,84.16

In [4]:
clist = ['Year','Month','Day','Hour','generation biomass','generation fossil brown coal/lignite','generation fossil gas','generation fossil hard coal','generation fossil oil','generation hydro pumped storage consumption',
         'generation hydro run-of-river and poundage','generation hydro water reservoir','generation nuclear',
         'generation other','generation other renewable','generation solar',
         'generation waste','generation wind onshore']
new= df[clist]
new

,Year,Month,Day,Hour,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore
0,2018,10,9,15,367.0,760.0,6501.0,4894.0,312.0,0.0,815.0,1981.0,6934.0,57.0,110.0,3744.0,318.0,2896.0
1,2018,10,9,16,365.0,760.0,7364.0,4943.0,310.0,0.0,825.0,1473.0,6939.0,57.0,110.0,3120.0,317.0,3512.0
2,2018,10,9,17,367.0,760.0,7607.0,4945.0,312.0,0.0,853.0,3221.0,6943.0,57.0,109.0,1964.0,325.0,3870.0
3,2018,10,9,18,369.0,760.0,7912.0,4957.0,312.0,0.0,873.0,4079.0,6947.0,56.0,110.0,873.0,324.0,3925.0
4,2018,10,9,19,368.0,760.0,7659.0,4934.0,314.0,0.0,851.0,2953.0,6954.0,56.0,112.0,628.0,327.0,4250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2018,12,31,18,297.0,0.0,7634.0,2628.0,178.0,1.0,1135.0,4836.0,6073.0,63.0,95.0,85.0,277.0,3113.0
1996,2018,12,31,19,296.0,0.0,7241.0,2566.0,174.0,1.0,1172.0,3931.0,6074.0,62.0,95.0,33.0,280.0,3288.0
1997,2018,12,31,20,292.0,0.0,7025.0,2422.0,168.0,50.0,1148.0,2831.0,6076.0,61.0,94.0,31.0,286.0,3503.0
1998,2018,12,31,21,293.0,0.0,6562.0,2293.0,163.0,108.0,1128.0,2068.0,6075.0,61.0,93.0,31.0,287.0,3586.0
1999,2018,12,31,22,290.0,0.0,6926.0,2166.0,163.0,108.0,1069.0,1686.0,6075.0,61.0,92.0,31.0,287.0,3651.0

# εαν θελω ολο το dataset να αποθηκευεται

In [5]:
for ind in new.index:
    new.iloc[[ind]].to_sql('predictive_energy',engine, if_exists='append')