In [1]:
import pandas as pd
import sqlalchemy
import pymysql
import os
import joblib
import warnings

warnings.filterwarnings('ignore')
engine = sqlalchemy.create_engine('mysql://dimpasp:aris1914@localhost:3306/testenergy')
new_predict=joblib.load("New_predict_energy.joblib")

In [2]:
df= pd.read_sql('SELECT * from predictive_energy', con = engine)
df

,index,Year,Month,Day,Hour,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore
0,3,2015,1,1,2,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0
1,0,2014,12,31,23,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0
2,1,2015,1,1,0,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0
3,2,2015,1,1,1,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0
4,3,2015,1,1,2,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,67,2015,1,3,18,458.0,0.0,3033.0,1539.0,243.0,129.0,1544.0,5753.0,7094.0,79.0,66.0,502.0,222.0,9005.0
69,68,2015,1,3,19,462.0,0.0,3136.0,1555.0,244.0,0.0,1583.0,5946.0,7096.0,81.0,67.0,355.0,221.0,9672.0
70,0,2014,12,31,23,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0
71,0,2014,12,31,23,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0
72,0,2014,12,31,23,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0

In [3]:
x=[]
df= pd.read_sql('SELECT * from predictive_energy', con = engine)
x.extend([new_predict.predict(df),df['Year'],df['Month'],df['Day'],df['Hour'],df['generation solar'],df['generation other renewable']])

In [4]:
dfnew = pd.DataFrame(x)

In [5]:
df_tr = dfnew.transpose()
df_tr.rename(columns={0: 'Predvalue', 1: 'Year',2: 'Month',3: 'Day', 4: 'Hour',5: 'solar',6: 'renewable'}, inplace=True)
df_tr

    Predvalue    Year  Month   Day  Hour  solar  renewable
0   62.530712  2015.0    1.0   1.0   2.0   50.0       75.0
1   65.828871  2014.0   12.0  31.0  23.0   49.0       73.0
2   63.093068  2015.0    1.0   1.0   0.0   50.0       71.0
3   63.441878  2015.0    1.0   1.0   1.0   50.0       73.0
4   62.530712  2015.0    1.0   1.0   2.0   50.0       75.0
..        ...     ...    ...   ...   ...    ...        ...
68  70.938831  2015.0    1.0   3.0  18.0  502.0       66.0
69  70.914663  2015.0    1.0   3.0  19.0  355.0       67.0
70  65.828871  2014.0   12.0  31.0  23.0   49.0       73.0
71  65.828871  2014.0   12.0  31.0  23.0   49.0       73.0
72  65.828871  2014.0   12.0  31.0  23.0   49.0       73.0

[73 rows x 7 columns]

In [6]:
for ind in df_tr.index:
    df_tr.iloc[[ind]].to_sql('predNextWith',engine, if_exists='append')